@font-face {
    font-family: "Amiri";
    src: url(./fonts/Amiri-Slanted.ttf);
}

div{
    border: 5px black solid;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    margin-top: -10px;
    font-family: "Amiri";
}

p{
    margin: 20px;
    font-family: "Amiri";
}

button{
    margin: 5px;
    border: 2px black solid;
    border-radius: 10px;
    height: 35px;
    width: 75px;
}